.bottom_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center_content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.corners_border {
    border-radius: 10px;
    border: 2px solid #333;
    padding: 20px;
    margin-bottom: 10px;
}

.corners_border h3 {
    display: inline;
    vertical-align: top;
    margin-right: 20px;
}

.corners_border p {
    margin-top: -1px;
    margin-bottom: 0px;
}

.switch_div {
    position: relative;
    float: right;
    display: inline-flex;
}